---
layout: default
title: "Map Builder"
subtitle: "Nam dolor ante, condimentum at ante sit amet, aliquam rhoncus augue. Praesent ut pellentesque quam. Sed dapibus, purus dignissim rutrum blandit, lorem lectus venenatis felis, quis egestas tortor lectus in neque. Vivamus vitae ante vitae lacus gravida sagittis sed vitae enim. Nullam finibus leo at dictum vestibulum. Vivamus ex lectus, tempor at nisl sed, molestie cursus sem."
---

<header class="m-header-static">
	<div class="l-inner">	
	  <h2>{{page.title}}</h2>
	  <h3>{{page.subtitle}}</h3>
	</div>
</header>

<section class="m-section -padding">
	<div class="l-inner">
		<ul class="m-grid">
			<li class="m-card -default">
				<svg><use xlink:href="#icon-compellingdata"></use></svg>
				<h3 class="-primary">Compelling data</h3>
				<p>Choose from dozens of data layers curated by Global Forest Watch - or upload your own.</p>
			</li>
			<li class="m-card -default">
				<svg><use xlink:href="#icon-powerfulanalysis"></use></svg>
				<h3 class="-primary">Powerful analysis</h3>
				<p>Run advanced statistical and geospatial analyses, right in the browser.</p>
			</li>
			<li class="m-card -default">
				<svg><use xlink:href="#icon-provenplatform"></use></svg>
				<h3 class="-primary">Proven platform</h3>
				<p>My Forest Atlas is built on ESRI’s easy-to-use ArcGIS Online mapping platform.</p>
			</li>
			<li class="m-card -default">
				<svg><use xlink:href="#icon-broadreach"></use></svg>
				<h3 class="-primary">Broad reach</h3>
				<p>Share your maps with integrated social media tools, or add it to the forest atlas gallery.</p>
			</li>
		</ul>
	</div>
</section>

<section class="m-section -padding -own-atlas">
	<div class="l-inner">
		<header class="-light">		
			<h2>Build your own Atlas</h2>
			<p>Follow these simple steps to get up and running in minutes. Mauris at laoreet enim, at luctus nisi. Vestibulum at orci et sem scelerisque prottitor. Interger fringilla ultrices congue. Nam at sodales sapien.</p>
		</header>
		<ul class="m-grid">
			<li class="m-card -number">
				<div class="number">1</div>
				<h3>Watch the tutorial videos</h3>
				<p>These step-by-step guides will teach you how to set up an ArcGIS Online user acount, produce a basic interactive map, and share your custom forest atlas.</p>
			</li>
			<li class="m-card -number">
				<div class="number">2</div>
				<h3>Create a map</h3>
				<p>Add data layers to the map canvas, and stylize them appropriately. All of your progress will be saved to your account, so you can work at your own pace.</p>
			</li>
			<li class="m-card -number">
				<div class="number">3</div>
				<h3>Share your forest atlas</h3>
				<p>Use integrated social media tools to share interactive forest atlas with your networks, export the map as a static image, or submit it into the forest atlas gallery.</p>
			</li>
		</ul>
		<div class="btn-box -center">
			<a href="{{site.baseurl}}/about" class="btn -primary -huge">Get started</a>
		</div>
	</div>
</section>

<section class="m-section -padding">
	<div class="l-inner">
		<header>		
			<h2>Featured Forest Atlases</h2>
			<p>A hand-curated selection of... Sed nec laoreet nulla, ut sagittis justo. Aliquam pellentesque blandit erat quis convallis. Cras vel libero sed diam hendrerit viverra at sagittis ex. Proin sed diam tincidunt, convallis dui at, volutpat tellus.</p>
		</header>
		<div id="featuredForestSliderView" class="m-lory-slider">
			<div class="slider js_slider">
				<div class="frame js_frame">
					<ul class="slides js_slides">
					  <li class="js_slide">
					  	<div class="m-card -atlas">				  		
								<div class="img"></div>
								<h3 class="-primary">Mining and deforestation in british columbia</h3>
								<p>These step-by-step guides will teach you how to set up an ArcGIS Online user acount, produce a basic interactive map, and share your custom forest atlas.</p>					  	
					  	</div>
					  </li>
					  <li class="js_slide">
					  	<div class="m-card -atlas">				  		
								<div class="img"></div>
								<h3 class="-primary">Mining and deforestation in british columbia</h3>
								<p>These step-by-step guides will teach you how to set up an ArcGIS Online user acount, produce a basic interactive map, and share your custom forest atlas.</p>					  	
					  	</div>
					  </li>
					  <li class="js_slide">
					  	<div class="m-card -atlas">				  		
								<div class="img"></div>
								<h3 class="-primary">Tree cover gain and carbon stocks in the american south</h3>
								<p>These step-by-step guides will teach you how to set up an ArcGIS Online user acount, produce a basic interactive map, and share your custom forest atlas.</p>					  	
					  	</div>
					  </li>
					  <li class="js_slide">
					  	<div class="m-card -atlas">				  		
								<div class="img"></div>
								<h3 class="-primary">Mining and deforestation in british columbia</h3>
								<p>These step-by-step guides will teach you how to set up an ArcGIS Online user acount, produce a basic interactive map, and share your custom forest atlas.</p>					  	
					  	</div>
					  </li>
					  <li class="js_slide">
					  	<div class="m-card -atlas">				  		
								<div class="img"></div>
								<h3 class="-primary">Tree cover gain and carbon stocks in the american south</h3>
								<p>These step-by-step guides will teach you how to set up an ArcGIS Online user acount, produce a basic interactive map, and share your custom forest atlas.</p>					  	
					  	</div>
					  </li>
					  <li class="js_slide">
					  	<div class="m-card -atlas">				  		
								<div class="img"></div>
								<h3 class="-primary">Watch the tutorial videos</h3>
								<p>These step-by-step guides will teach you how to set up an ArcGIS Online user acount, produce a basic interactive map, and share your custom forest atlas.</p>					  	
					  	</div>
					  </li>
					</ul>
				</div>
			</div>
			<div class="slider-arrows js_slide_navigation"></div>
		</div>
		<div class="btn-box -center">
			<a href="{{site.baseurl}}" class="btn -primary -huge">Submit your forest atlas</a>
			<a href="{{site.baseurl}}/gallery" class="btn -huge">View all</a>
		</div>
	</div>
</section>

<section class="m-section -padding">
	<div class="l-inner">
		<header>		
			<h2>Tutorials</h2>
			<p>Sed nec laoreet nulla, ut sagittis justo. Aliquam pellentesque blandit erat quis convallis. Cras vel libero sed diam hendrerit viverra at sagittis ex. Proin sed diam tincidunt, convallis dui at, volutpat tellus.</p>
		</header>
		<div id="tutorialsSliderView" class="m-lory-slider">
			<div class="slider js_slider">
				<div class="frame js_frame">
					<ul class="slides js_slides">
				    {% assign sorted_posts = site.posts | sort: 'order' %}
	          {% for post in sorted_posts %}
	            {% if post.categories contains 'tutorials' %}
							  <li class="js_slide">
							  	<div class="m-card js-card-video -video" data-video="{{post.video}}">				  		
										<div class="img"></div>
										<h3 class="-primary">{{ post.title }}</h3>
										<p>{{ post.description }}</p>					  	
							  	</div>
							  </li>
	            {% endif %}
	          {% endfor %}
					</ul>
				</div>
			</div>
			<div class="slider-arrows js_slide_navigation"></div>
		</div>
		<div class="btn-box -center">
			<a href="http://www.globalforestwatch.org/about/videos" target="_blank" class="btn -primary -huge">View all</a>
		</div>
	</div>
</section>