---
layout: default
title: "Map Builder"
subtitle: "Nam dolor ante, condimentum at ante sit amet, aliquam rhoncus augue. Praesent ut pellentesque quam. Sed dapibus, purus dignissim rutrum blandit, lorem lectus venenatis felis, quis egestas tortor lectus in neque. Vivamus vitae ante vitae lacus gravida sagittis sed vitae enim. Nullam finibus leo at dictum vestibulum. Vivamus ex lectus, tempor at nisl sed, molestie cursus sem."
---

<header class="m-header-static">
	<div class="l-inner">	
	  <h2>{{page.title}}</h2>
	  <h3>{{page.subtitle}}</h3>
	</div>
</header>

<section class="m-section -padding">
	<div class="l-inner">
		<ul class="m-grid">
			<li class="m-card -default">
				<svg><use xlink:href="#icon-compellingdata"></use></svg>
				<h3 class="-primary">Compelling data</h3>
				<p>Choose from dozens of data layers curated by Global Forest Watch - or upload your own.</p>
			</li>
			<li class="m-card -default">
				<svg><use xlink:href="#icon-powerfulanalysis"></use></svg>
				<h3 class="-primary">Powerful analysis</h3>
				<p>Run advanced statistical and geospatial analyses, right in the browser.</p>
			</li>
			<li class="m-card -default">
				<svg><use xlink:href="#icon-provenplatform"></use></svg>
				<h3 class="-primary">Proven platform</h3>
				<p>My Forest Atlas is built on ESRI’s easy-to-use ArcGIS Online mapping platform.</p>
			</li>
			<li class="m-card -default">
				<svg><use xlink:href="#icon-broadreach"></use></svg>
				<h3 class="-primary">Broad reach</h3>
				<p>Share your maps with integrated social media tools, or add it to the forest atlas gallery.</p>
			</li>
		</ul>
	</div>
</section>

<section class="m-section -padding -own-atlas">
	{% include steps-slider.html %}
</section>

<section class="m-section -padding">
	{% include atlas-slider.html %}
</section>

<section class="m-section -padding -border">
	{% include tutorial-slider.html %}
</section>