---
layout: default
title: "Map Builder"
subtitle: "Want to create a version of the Global Forest Watch map, featuring your own data? Map Builder is an easy to use tool which enables users to combine their own datasets with GFW’s cutting-edge data and analysis tools. "
---
<section class="m-cover">
	<div class="l-inner">
		<div class="m-cover__text">
			<div class="m-cover__title">Developer Tools</div>
			<div class="m-cover__paragraph">Explore tools and information available to help you develop applications that harness Global Forest Watch data and technology, like the GFW API and Map Builder.</div>
		</div>
	</div>

	<div class="cover-background"></div>
</section>

<div class="m-navigation">
	<div class="l-inner">
		<ul>
			<li>
				<a href="/">Gallery</a>
			</li>
			<li class="-selected">
				<a href="/map-builder">Map Builder</a>
			</li>
			<li>
				<a href="/developer-tools">Developer tools</a>
			</li>
		</ul>
	</div>
</div>

<section class="m-section -padding">
	<div class="l-inner">
		<p class="description">
			{{page.subtitle}}
		</p>
		<ul class="m-grid">
			<li class="m-card -default">
				<svg><use xlink:href="#icon-compellingdata"></use></svg>
				<h3 class="-primary">Compelling data</h3>
				<p>Combine GFW datasets, dozens of layers available through ArcGIS Online and your own uploaded data.</p>
			</li>
			<li class="m-card -default">
				<svg><use xlink:href="#icon-powerfulanalysis"></use></svg>
				<h3 class="-primary">Powerful analysis</h3>
				<p>Leverage GFW’s powerful geospatial analysis tools including tree cover loss, land cover composition and GLAD alert analysis.</p>
			</li>
			<li class="m-card -default">
				<svg><use xlink:href="#icon-provenplatform"></use></svg>
				<h3 class="-primary">Proven platform</h3>
				<p>Map Builder integrates with both organizational and free public ArcGIS Online accounts as an application template.</p>
			</li>
			<li class="m-card -default">
				<svg><use xlink:href="#icon-broadreach"></use></svg>
				<h3 class="-primary">Broad reach</h3>
				<p>Applications can be deployed as stand-alone websites, embedded into your website or shared using integrated social media tools.</p>
			</li>
		</ul>
	</div>
</section>

<section class="m-section -padding -own-atlas">
	{% include steps-slider.html %}
</section>

<section class="m-section -padding">
	{% include atlas-slider.html %}
</section>

<section class="m-section -padding -border">
	{% include tutorial-slider.html %}
</section>
