<div class="l-inner">
	<header>		
		<h2>Featured Maps</h2>
		<p>A hand-picked selection of GFW maps and applications built by our user community. Imagine your map or app here!</p>
	</header>
	<div id="featuredForestSliderView" class="m-lory-slider">
		<div class="slider js_slider">
			<div class="frame js_frame">
				<ul class="slides js_slides">
			    {% assign sorted_posts = site.posts | sort: 'order' %}
          {% for post in sorted_posts %}
            {% if post.categories contains 'gallery' %}
						  <li class="js_slide">
						  	<div class="m-card -atlas">				  		
									<div class="img" style="background-image: url({{post.thumbnail}}{{post.slug}}.png)"></div>
									<h3 class="-primary">{{ post.title }}</h3>
						  	</div>
						  </li>
            {% endif %}
          {% endfor %}
				</ul>
			</div>
		</div>
		<div class="slider-arrows js_slide_navigation"></div>
	</div>
	<div class="btn-box -center">
		<a href="mailto:gfw@wri.org" class="btn -primary -huge -m-fullwidth">Submit your map</a>
		<a href="/gallery" class="btn -huge -m-fullwidth">View all</a>
	</div>
</div>
