<div class="l-inner">
	<div class="m-grid -no-padding">
  	<div class="m-card -interesting">	
  		<a href="{{site.baseurl}}/map-builder">
				<svg><use xlink:href="#icon-mapbuilder"></use></svg>	  			
				<h3 class="-primary">Map builder</h3>
				<p>Build and share your own GFW map by choosing your own data, map style, and location.</p>
  		</a>			  		
  	</div>
  	<div class="m-card -interesting">
  		<a href="{{site.baseurl}}/developer-tools">  			
				<svg><use xlink:href="#icon-developer-tools"></use></svg>
				<h3 class="-primary">Developer tools</h3>
				<p>Use our open source code to create customized web-based or mobile applications using GFW data and tools.</p>
  		</a>
  	</div>			
	</div>
</div>
