<div class="l-inner">
	<header class="-light">
		<h2>Start Building Your GFW MapBuilder</h2>
		<p>Here’s your 1-2-3 guide on getting started.</p>
	</header>
	<div id="stepsSliderView" class="m-lory-slider">
		<div class="slider js_slider">
			<div class="frame js_frame">
				<ul class="slides js_slides">
				  <li class="js_slide">
						<div class="m-card -number">
							<div class="number">1</div>
							<h3>Learn How</h3>
							<p>Step-by-step tutorials and videos teach you how to set up an ArcGIS Online account, create your MapBuilder and share your map online. Tutorials are available for both public and organization ArcGIS accounts.</p>
						</div>
				  </li>
				  <li class="js_slide">
						<div class="m-card -number">
							<div class="number">2</div>
							<h3>Create your MapBuilder</h3>
							<p>Add data layers to your ArcGIS Online webmap and combine your data with GFW data layers using the GFW MapBuilder application template.</p>
						</div>
				  </li>
				  <li class="js_slide">
						<div class="m-card -number">
							<div class="number">3</div>
							<h3>Share your MapBuilder</h3>
							<p>Easily embed your MapBuilder into your own website, share the link with colleagues and peers or use integrated social media tools for sharing.</p>
						</div>
				  </li>
				</ul>
			</div>
		</div>
		<div class="slider-arrows js_slide_navigation"></div>
	</div>
	<div class="btn-box -center">
		<a href="https://www.globalforestwatch.org/howto/tags/map-builder/" target="_blank" class="btn -primary -huge -m-fullwidth">Get started</a>
	</div>
</div>
