<div class="l-inner">
	<header class="-light">
		<h2>Start Building Your Map</h2>
		<p>Here’s your 1-2-3 guide on getting started.</p>
	</header>
	<div id="stepsSliderView" class="m-lory-slider">
		<div class="slider js_slider">
			<div class="frame js_frame">
				<ul class="slides js_slides">
				  <li class="js_slide">
						<div class="m-card -number">
							<div class="number">1</div>
							<h3>Watch the tutorial videos</h3>
							<p>These step-by-step guides will teach you how to set up an ArcGIS Online user account, produce a basic interactive map, and share your map online.</p>
						</div>
				  </li>
				  <li class="js_slide">
						<div class="m-card -number">
							<div class="number">2</div>
							<h3>Create a map</h3>
							<p>Add data layers to the map canvas, and start styling. All of your progress will be saved to your account, so you can work at your own pace.</p>
						</div>
				  </li>
				  <li class="js_slide">
						<div class="m-card -number">
							<div class="number">3</div>
							<h3>Share your forest atlas</h3>
							<p>Use integrated social media tools to share your interactive map with your networks, export the map as a static image, or submit it into the map gallery.</p>
						</div>
				  </li>
				</ul>
			</div>
		</div>
		<div class="slider-arrows js_slide_navigation"></div>
	</div>
	<div class="btn-box -center">
		<a href="https://www.globalforestwatch.org/howto/tags/map-builder/" target="_blank" class="btn -primary -huge -m-fullwidth">Get started</a>
	</div>
</div>
