.l-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0px;
  max-width: 1600px;
  width: 100%;

  #headerGfw {
    min-height: 58px;
  }

  .l-inner {
    margin: 0 auto;
    position: relative;
    padding: 0 15px;

    @media (min-width: $br-tablet){
      max-width: 1080px;
      padding: 0;
    }
  }
}

.l-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  text-indent: -9999px;
  white-space: nowrap;
  width: 60px;
  height: 60px;
  margin: 0 0 0 15px;
  background-image: url($baseurl + '/assets/images/logo.png');
  background-size: contain;
  font-size: 14px;

  @media (min-width: $br-mobile){
    width: 90px;
    height: 90px;
    line-height: 56px;
    margin: 0;
    text-indent: -9999px;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    color: $dark;
  }

  .ribbon {
    color: $white;
    text-indent: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(5px,8px);

    > span {
      display: block;
      position: relative;
      z-index: 2;
      background: #b6b6ba;
      padding: 3px 5px 2px;
      line-height: 1;
      font-weight: 500;
      font-size: 10px;
      text-transform: uppercase;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 0 5px;
      border-color: transparent transparent transparent darken(#b6b6ba,10%);
    }
  }
}

.l-menu {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  background: rgba($white,0.8);
  border-bottom: 1px solid $border1;
}

.l-content {
  width: 100%;
  background: $white;
  padding: 0;
  border-bottom: solid 1px $border1;
  @media (min-width: $br-mobile){
    // width: calc(100% - #{$aside-width});
  }
}
