.m-card {
	position: relative;
	width: 100%;
	background: $white;
	padding: 0px 30px 30px;
	border: 1px solid $border1;

	svg {
		width: 100px;
		height: 100px;
		margin: 0 0 30px;
	}


	h3 {
		margin: 0 0 18px;
    white-space: normal;
	}

	p {
		&.-uppercase {
			text-transform: uppercase;
		}		
	}

	// Default
	&.-default {
		width: 25%;
		padding: 0;
		border: 0;
		p {
			max-width: 80%;
		}
	}


	// Atlas
	&.-atlas {
		width: calc(100% - 30px);
		margin: 0 auto; 

		p {
			font-size: 14px;
			max-width: none;
			white-space: normal;
			line-height: 1.5;
		}

		.img {
			margin: 0 -30px 30px;
			padding-bottom: 50%;
			background: url($baseurl + '/assets/images/thumbnail-post.png');
		}		
	}

	&.-gallery {
		width: calc(33.3333% - 30px);
		margin: 45px 0 0;

		p {
			font-size: 14px;
			max-width: none;
			white-space: normal;
			line-height: 1.5;
		}

		.img {
			margin: 0 -30px 30px;
			padding-bottom: 50%;
			background: url($baseurl + '/assets/images/thumbnail-post.png');
		}				
	}

	// Video
	&.-video {
		width: calc(100% - 30px);
		margin: 0 auto; 
		cursor: pointer;

		p {
			font-size: 14px;
			max-width: none;
			white-space: normal;
			line-height: 1.5;
		}

		.img {
			margin: 0 -30px 30px;
			padding-bottom: 50%;
			background: $dark;
			position: relative;

			&:before, &:after{
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}

			&:before{
				width: 56px;
				height: 56px;
				background: $primary-color;
				border-radius: 50%;
				z-index: 1;
			}

			&:after{
				z-index: 2;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 7px 0 7px 10px;
				border-color: transparent transparent transparent white;				
			}
		}

		&:hover {
			.img {
				&:before {
					background: lighten($primary-color,5%);
				}
			}
		}		
	}


	// Number
	&.-number {
		width: calc(33.3333% - 30px); 
		background: $white;
		padding: 60px 40px;
		margin: 30px 0 0;

		h3 {
			color: #444444;
		}

		p {
			max-width: none;
		}

		.number {
			width: 80px;
			height: 80px;
			line-height: 80px;
			font-size: 35px;
			font-weight: 500;
			
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%,-50%);
			
			background: $white;
			color: $primary-color;
			border: 3px solid $primary-color;
			border-radius: 50%;
			text-align: center;
		}
	}

	// Interesting
	&.-interesting {
		width: calc(50% - 30px);
		background: $white;
		padding: 60px 40px 120px;

		h3 {
			color: $primary-color;
			font-size: 24px;
		}

		p {
			max-width: 250px;
			color: $dark;
		}

		svg {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 140px;
			height: 150px;
			margin: 35px;
		}

	}
}