.m-filters {
	background: #F7F7F7;
	padding: 15px;
	
	@media (min-width: $br-mobile){
		margin-bottom: 30px;
	}	
	
	> ul {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		li {
			padding: 10px 20px;
			color: $dark;
			margin: 5px 10px 5px 0;
			border-radius: 30px;
			font-size: 16px;
			cursor: pointer;

			@media (min-width: $br-mobile){
				margin: 5px 20px 5px 0;
			}	

			&:hover {
				background: lighten(#D8D8D8, 5%);		
			}

			&.-active {
				background: #D8D8D8;				
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}