.m-header-static {
  padding: 70px 15px 40px;
  position: relative;
  background: #333;

  &.-light {
    background: $white;

    h2 {
      color: $dark;
    }

    h3 {
      color: $dark;
    }
  }

  @media (min-width: $br-mobile){
    padding: 70px 0px;
  }

  h2 {
    font-size: 40px;
    color: $white;

    @media (min-width: $br-mobile){
      font-size: 47px;
    }
  }

  h3 {
    color: $white;
    text-transform: none;
    font-weight: 300;
    max-width: 890px;
    line-height: 32px;
    padding: 10px 0 0;
  }
}
