.m-header-static {
  padding: 70px 15px 40px;
  position: relative;
  background: #333;
  @media (min-width: $br-mobile){
    padding: 70px 0px;
  }

  h2 {
    font-size: 40px;
    color: $white;

    @media (min-width: $br-mobile){
      font-size: 47px;
    }
  }

  h3 {
    color: $white;
    text-transform: none;
    font-weight: 300;
  }
}
