.m-section {

  &.-padding {
    padding: 40px 15px;
    @media (min-width: $br-mobile){
      padding: 70px 0px;
    }
  }

  &.-border {
    border-top: 1px solid $border1;
  }


  &.-own-atlas {
    background: url($baseurl + '/assets/images/bkg-own-atlas.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;

    &:after{
      content: "";
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000,0.5);
    }
  }

  header {
    h2 {
      padding: 0 0 35px;
      
      &.-no-padding {
        padding: 0;
      }

      .-font-small {
        font-size: 19px;
      }

      a {
        color: inherit;
      }
    }

    p {
      font-size: 19px;
      line-height: 32px;
      font-weight: 300;
      max-width: 890px;
    }

    &.-light {
      h2,p {
        color: $white;
      }
    }

    .m-select {
      position: absolute;
      top: 0;
      right: 0;
      width: 250px;
    }

  }
}
