.m-section {

  &.-padding {
    padding: 40px 15px;
    @media (min-width: $br-mobile){
      padding: 70px 40px;
    }
  }

  header {
    h2 {
      padding: 0 0 35px;
      a {
        color: inherit;
      }
    }

    p {
      font-size: 19px;
      line-height: 32px;
      font-weight: 300;
      max-width: 890px;
    }
  }
}
