{{!-- BACKDROP --}}
<div class="modal-backdrop"></div>
{{!-- WINDOW --}}
<div class="modal-window -video">
  <a href="#" class="modal-close"><svg><use xlink:href="#shape-close"></use></svg></a>
  <div class="modal-wrapper scroll-dark">
    <div class="modal-content">
      <div class="modal-video">
        <div id="modal-video"></div>
      </div>
    </div>
  </div>
</div>
