<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | Developer Tools</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">

    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,300' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
      window.liveSettings = {
        picker: '#transifexTranslateElement',
        api_key: "9eda410a7db74687ba40771c56abd357",
        detectlang: false,
        site: 'gfw-atlas',
        menuOptions:
        {
          options: [
            {
              title: 'logo',
              url: 'http://www.globalforestwatch.org/'
            }
          ]
        }
      };
    </script>
    <script id="loader-gfw" data-current=".shape-develop" src="http://gfw-assets.s3.amazonaws.com/static/gfw-assets.nightly.js"></script>
    {% include favicon.html %}
  </head>
  <body>
    {% include icons.html %}

    <div class="l-wrapper">
      <!-- HEADER -->
      <div id="headerGfw"></div>
      <div class="l-content">
        {{ content }}
      </div>
      <!-- FOOTER -->
      <div id="footerGfw"></div>
    </div>
  </body>
</html>

<script type="text/javascript">
  //Analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48182293-1', document.location.hostname);
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
  ga('push','_trackPageview');
</script>


<script type="text/javascript">
  var baseurl = '{{site.baseurl}}';
</script>

<script src="{{site.baseurl}}/bower_components/lory/dist/lory.js"></script>
<script src="{{site.baseurl}}/js/vendor.js"></script>
<script src="{{site.baseurl}}/js/templates.js"></script>
<script src="{{site.baseurl}}/js/app.js"></script>
